@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
body {
  background-color: #e7eded;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}
